<div class="jumbotron">
  <h1>Welcome to TaskManager!</h1>
  <p>Here you will be able to add your tasks, read your tasks, and maybe even one day update and delete those tasks! (One can hope, right?)</p>
  <p><a class="btn btn-success btn-lg" href="/tasks/new" role="button">Create a New Task</a></p>
</div>

<ul>
  <li><a href="/tasks">Task Index</li>
  <li><a href="/tasks/new">New Task</li>
</ul>
