<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='task[title]' /><br/><br/>
  <textarea name='task[description]' class="form-control" rows="5"></textarea><br/><br/>
  <input type='submit' class="btn btn-warning btn-sm" value=
  'Submit'/>
</form>
